.Card__base {
  box-sizing: border-box;
  /* border: 2px solid red; */
  width: 300px;
  margin: 0 20px 20px 0;
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Card__base > a {
  /* color: green; */
  /* max-width: 50%; */
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

button {
  width: 75%;
}
