.App {
  min-height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-family: "Comic Neue";
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/beer-background.jpeg");
  background-repeat: no-repeat;
  /* background-attachment: fixed;
  background-position: center; */
  background-size: cover;
}

