input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e9ecef;
  font-size: 15px;
}

button:hover {
  background-color: #dee2e6;
}

fieldset {
  width: 100%;
}

.new_form {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
}

#form-div {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
}

p {
  color: white;
  text-align: center;
  /* font-weight: bold; */
}
